---
layout: default-maps
---
<div class="polaroid">
  <img src="{{ page.pinterest }}" />
</div>
<div>
  <span><h2 class="subtitle">{{page.title}}</h2>{{ content }}<p class="author">- <a href="http://twitter.com/{{ page.twitter}}">{{page.realname}}</a></p></span>
</div>
<div id='map' class="polaroid"></div>
<script type='text/javascript'>
var map = L.mapbox.map('map','{{ page.map }}', {
  minZoom: {{ page.minZoom }}
})
    .setView([{{ page.lat }}, {{ page.lng }}], {{ page.zoomLevel }});

var marker = L.marker([{{page.lat}}, {{page.lng}}]).addTo(map);
marker.bindPopup("<b><a href='http://calagator.org/venues/202393267'>Esri R&D Center</a></b><br>aka Geoloqi HQ").openPopup();

</script>