<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} maptimepdx </title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" /> 
  <link href='http://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="/stylesheets/styles.css" />
</head>
<body>
  <div id="main">
    <header>
      <a href="/"><h1> #maptimePDX </h1></a>
      <p><a href="http://omgitsmaptime.com/">maptime</a> | <a href="/contact">contact</a> | <a href="https://github.com/geografa/maptimepdx/tree/gh-pages">github</a></p>
    </header>
    {{ content }}
    <footer>
      <p><a href="http://omgitsmaptime.com/">maptime</a> | <a href="/contact">contact</a> | <a href="https://github.com/geografa/maptimepdx/tree/gh-pages">github</a></p>
    </footer> 
  </div>
</body>
</html>
