<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="maptimepdx">
<meta name="twitter:title" content="Always a good time for mapping...">
<meta name="twitter:description" content="MaptimePDX is an offshoot of maptime, a weekly meetup of mappers in SF hacking on maps and doing mappy things. In the same tradition, we're aiming to provide meetups for hacking on map projects of all sorts.">
<meta name="twitter:creator" content="geografa">
<meta name="twitter:image:src" content="http://distilleryimage2.ak.instagram.com/4f3ae99e717e11e39ea71230a3416982_8.jpg">
<meta name="twitter:domain" content="http://maptimepdx.org/">

  <title> {% if page.title %} {{ page.title }} | {% endif %} maptimepdx </title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" /> 
  <link href='http://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="/stylesheets/styles.css" />
</head>
<body>
  <div id="main">
    <header>
      <a href="/"><h1> #maptimePDX </h1></a>
      <p><a href="http://omgitsmaptime.com/">maptime</a> | <a href="/contact">contact</a> | <a href="https://github.com/geografa/maptimepdx/tree/gh-pages">github</a> | <a href="/about">about</a></p>
    </header>
    {{ content }}
    <footer>
      <p><a href="http://omgitsmaptime.com/">maptime</a> | <a href="/contact">contact</a> | <a href="https://github.com/geografa/maptimepdx/tree/gh-pages">github</a> | <a href="/about">about</a></p>
    </footer> 
  </div>
</body>
</html>
